.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.search {
  padding: 0 10%;
}

header {
  display: flex;
  align-items: center;
  background-color: #3C4146;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  padding: 0 30px;
}

.logo {
  display: flex;
  flex: 0 1 100%;
  align-items: center;
  padding: 6px 0;
}

.logo__img {
  width: 42px;
  margin-right: 10px;
}

.logo__text {
  display: inline-block;
  vertical-align: top;
}

.logo__text h1 {
  color: #fff;
  font-size: 24px;
}

.logo__text p {
  color: #B3BCC7;
  line-height: 0.8;
}

nav {
  flex: 0 0 auto;
}

nav a {
  font-size: 16px;
  color: #E0E0E0;
  text-decoration: none;
  margin-right: 20px;
}

nav a:last-child {
  margin-right: 0;
}

nav a:hover,
nav a.active {
  color: #fff;
}

footer {
  background-color: #3C4146;
  text-align: center;
  color: #FFF;
}

footer p {
  line-height: 40px;
  flex: 0 0 auto;
  font-family: 'Roboto', sans-serif;
}